<div class="container">

  <div class="profile-img p-3 text-center">
    <% if current_user.profile_pic.attached? %>
      <% #cloudinary image, transformation, css configs %>
      <%= cl_image_tag(current_user.profile_pic.key)%>
    <% else %>
      <%= cl_image_tag("qti4i6jfeifalznnivpuptdxa9hk")%>
    <% end %>
  </div>

  <div class="profile-info my-3">
    <h3>Name: <%= @user.name %></h3>
    <h3>NickName: <%= @user.nickname %></h3>
    <h2>Email: <%= @user.email %></h2 >
    <h4>Decks number: <%= @user.decks.count %></h4>
    <h4>Decks studing: <%= @user.deck_communities.count %></h4>
  </div>

  <%= link_to "Edit profile", edit_user_registration_path %>
</div>
