<div class="container">
  <h2><%= @deck_community.deck.title %></h2>
  <div class="text-center">
  <% @cards.each do |card| %>
    <div class="card-front">
      <p><%= card.front_page %> - |card id: <%= card.id %>|</p>
    </div>
    <div class="card-back">
      <p><%= card.back_page %></p>
    </div>
    <div class="button-grid">
      <div class="btn-grid btn"><%= link_to "0%", create_study_path(deck_community_id: @deck_community.id, card_id: card.id, grade: 0 ), method: :post %></div>
      <div class="btn-grid btn"><%= link_to "25%", create_study_path(deck_community_id: @deck_community.id, card_id: card.id, grade: 25 ), method: :post %></div>
      <div class="btn-grid btn"><%= link_to "50%", create_study_path(deck_community_id: @deck_community.id, card_id: card.id, grade: 50 ), method: :post %></div>
      <div class="btn-grid btn"><%= link_to "75%", create_study_path(deck_community_id: @deck_community.id, card_id: card.id, grade: 75 ), method: :post %></div>
      <div class="btn-grid btn"><%= link_to "100%", create_study_path(deck_community_id: @deck_community.id, card_id: card.id, grade: 100 ), method: :post %></div>
    </div>

    <hr>
  <% end %>
  </div>
</div>
