<div class="container" style="max-width: 50%">
  <div class="review">
    <div class="img_review">
      <% if @review.deck.deck_pic.attached? %>
        <% #cloudinary image, transformation, css configs %>
        <%= cl_image_tag(@review.deck.deck_pic.key,
        :transformation=>[{:width=>100, :height=>100, :gravity=>"face", :radius=>"max", :crop=>"thumb"}],
        class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false )%>
      <% else %>
        <%= cl_image_tag("cards_ico_m3jslu",
            :transformation=>[{:width=>100, :height=>80, :gravity=>"face", :radius=>"max", :crop=>"thumb"}],
             data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false )%>
      <% end %>
    </div class="form-review">
    <%= simple_form_for @review, url: {action: "update"} do |f| %>
      <div><%= f.input :review_content %></div>
      <div><%= f.input :rating %></div>
      <%= f.submit class: 'btn btn-primary my-3'%>
    <% end %>
  </div>
</div>
