  <div class="card-collection col">
    <div id="deck-info-dashboard" class="row">
      <p>Deck: <strong><%= @my_deck_market[var.to_i].title%></strong></p>
      <p>N° of cards: <%= @my_deck_market[var.to_i].cards.count%></p>
    </div>

    <div id="deck-session-dashboard" class="row">
      <div id="deck-session-info" style="text-align: justify">
        <p>Total times sold: <%= DeckCommunity.where(deck_id: @my_deck_market[var.to_i]).count - 1 %></p>
        <p>Mean price paid: $<%= @my_deck_market[var.to_i].price  %></p>
        <p>Total earnings: <%= (DeckCommunity.where(deck_id: @my_deck_market[var.to_i]).count - 1) * @my_deck_market[var.to_i].price  * 0.9 %> </p>
        <% unless DeckCommunity.where(deck_id: @my_deck_market[var.to_i]).empty?%>
        <p>Last buyer: <%= User.find(DeckCommunity.where(deck_id: @my_deck_market[var.to_i]).last.user_id).name unless User.find(DeckCommunity.where(deck_id: @my_deck_market[var.to_i]).last.user_id).name == current_user.name  %></p>
        <% end %>
      </div>
      <div id="btns">
          <%= simple_form_for @my_deck_market[var.to_i], url: update_deck_path(@my_deck_market[var.to_i]) do |f| %>
            <%= f.input :price, label: false%>
            <%= f.button :submit, value: 'Update price', class: 'btn' %>
          <% end %>
      </div>
    </div>
  </div>
