<div class="col ">
  <div class="card-collection col">
    <div class="row d-flex" style="justify-content:space-around">
      <div><p>Deck: <strong><%= @deck_community[0].deck.title%></strong> </p></div>
      <div><p>N° of cards: <%= @deck_community[0].deck.cards.count%></p></div>
    </div>
    <div class="row d-flex" style="justify-content:center">
      <div style="text-align: justify">
        <p>Sessions completed: <%= @deck_community[0].user_progress.sessions%></p>
        <p>Cards completed: <%= @cards_done%> / <%=@deck_community[0].deck.cards.count%></p>
        <p>Total score: <%= @score.to_i%>%</p>
      </div>
    </div>
    </div>
      <div class="card-collection col">
        <h3>Dashboard</h3>
        <h4>Deck:</h4>
        <h4>Score:</h4>
      </div>
</div>
