<div class="card-collection col my-2">
      <div class="row" style="justify-content:center;"><h4><strong><%= current_user.name %>'s</strong> Dashboard</h4></div>
      <div class="row" style="justify-content:space-around">
        <% unless @my_deck_market.nil? %>
          <%= render 'overall_dashboard_market' %>
        <% end %>
      </div>
    </div>

<div>
  <p>Sessions Completed</p>
  <p><%= @overall_info[:number_of_sessions] %></p>
</div>
  <div>
  <p>Cards Completed:</p>
  <p><%=@overall_info[:cards_done]%> / <%=@overall_info[:total_n_of_cards]%></p>
  </div>
<div>
  <p>Overall Knowledge:</p>
  <p><%= @overall_info[:overall_grade] %></p>
</div>
