<div class="container text-justify">
  <h3>Deck: <%= @deck.title %></h3>
  <h4>All cards:</h4>

  <% @cards.each_with_index do |card, index| %>
  <p class="mb-1"><%= index + 1 %>: <%= card.front_page %> | <%= card.back_page %></p>
  <% end %>
  <div>
  <%= link_to "Add more cards", new_card_path(params[:id]) %>
  </div>
</div>
