<div class="text-center"><h1>Select a category</h1></div>

<div class="container" style="margin-top: 60px; margin-bottom: 150px">
  <div class="cards">

      <div>
       <%=  link_to "Entertainment:", search_path(query: 'Entertainment'), class: "card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dwk8hef4l/image/upload/v1631030533/entertainment_gaecgd.jpg)"   %>
      </div>


      <div>
       <%=  link_to "Languages:", search_path(query: 'Languages'), class:"card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dwk8hef4l/image/upload/v1631030534/language_bnb9dn.png)"%>
      </div>


      <div >
       <%=  link_to "Law:", search_path(query: 'Law'), class:"card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dwk8hef4l/image/upload/v1631030533/law_oyeu9v.jpg)"  %>
      </div>


      <div>
       <%=  link_to "Programing:", search_path(query: 'Programing'), class:"card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dwk8hef4l/image/upload/v1631030534/programming_yp5pny.jpg)"  %>
      </div>


      <div>
       <%=  link_to "Science:", search_path(query: 'Programing'), class:"card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dwk8hef4l/image/upload/v1631030534/science_itp3sl.jpg)"  %>
      </div>


      <div>
       <%=  link_to "Public exams:", search_path(query: 'Programing'), class:"card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)"  %>
      </div>


      <div >
       <%=  link_to "General:", search_path(query: 'Programing'), class:"card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)"  %>
      </div>


      <div>
       <%=  link_to "German:", search_path(query: 'Programing'), class:"card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)"  %>
      </div>

  </div>
</div>
