<div class="container">
  <div class="text-center"><h2>Choose your category!</h2></div>
  <hr>

  <div class="cards">

      <div>
       <%=  link_to "Entertainment:", search_path(query: 'Entertainment'), class: "card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dwk8hef4l/image/upload/v1631030533/entertainment_gaecgd.jpg)"   %>
      </div>


      <div>
       <%=  link_to "Languages:", search_path(query: 'Languages'), class:"card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dwk8hef4l/image/upload/v1631030534/language_bnb9dn.png)"%>
      </div>


      <div >
       <%=  link_to "Law:", search_path(query: 'Law'), class:"card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dwk8hef4l/image/upload/v1631030533/law_oyeu9v.jpg)"  %>
      </div>


      <div>
       <%=  link_to "Programing:", search_path(query: 'Programing'), class:"card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dwk8hef4l/image/upload/v1631030534/programming_yp5pny.jpg)"  %>
      </div>


      <div>
       <%=  link_to "Science:", search_path(query: 'Programing'), class:"card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dwk8hef4l/image/upload/v1631030534/science_itp3sl.jpg)"  %>
      </div>


      <div>
       <%=  link_to "Public exams:", search_path(query: 'Programing'), class:"card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dwk8hef4l/image/upload/v1631299252/public_exams_ehola1.png)"  %>
      </div>


      <div >
       <%=  link_to "General:", search_path(query: 'Programing'), class:"card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dwk8hef4l/image/upload/v1631299252/general1_gnhod6.png)"  %>
      </div>


      <div>
       <%=  link_to "German:", search_path(query: 'Programing'), class:"card-category", style:"background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)), url(https://res.cloudinary.com/dwk8hef4l/image/upload/v1631299252/germany-states_xmhubv.jpg)"  %>
      </div>

  </div>
</div>
