<div class="container text-center" >
  <h2><%= @decks.count %> decks matches your search!</h2>
  <hr style="margin:21px">

  <% @decks.each do |deck| %>
    <div class="card-product">
      <% if deck.deck_pic.attached? %>
        <% #cloudinary image, transformation, css configs %>
        <%= cl_image_tag(deck.deck_pic.key,
        :transformation=>[{:width=>100, :height=>100, :gravity=>"face", :radius=>"max", :crop=>"thumb"}],
        class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false )%>
      <% else %>
        <%= cl_image_tag("cards_ico_m3jslu",
            :transformation=>[{:width=>100, :height=>80, :gravity=>"face", :radius=>"max", :crop=>"thumb"}],
             data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false )%>
      <% end %>
        <div class="card-product-infos">
          <div >
            <%= link_to "#{deck.title}", show_path(deck) %>
          </div>

          <div style="padding-left: 10px">
            <%= User.find(deck.user_id).name %>
          </div>

          <div style="padding-left: 10px">
            <%= Card.where(deck_id: deck.id).count %>
          </div>

          <div style="padding-left: 10px">
            <%= deck.price %>
          </div>

          <div style="padding-left: 70px">
            <% rating = 0 %>
            <% deck.deck_reviews.each do |review|  %>
              <% rating += review.rating %>
            <% end %>
            <% if deck.deck_reviews.empty?%>
            --
            <% else %>
              <%= "â­"*(rating/deck.deck_reviews.count) %>
            <% end %>
          </div>
        </div>
    </div>
  <% end %>
</div>
