<div class="container text-center" >
  <h2><span id="0101"><%= @decks.count %></span> decks matches your search!</h2>

  <hr style="margin:21px">

  <% @decks.each do |deck| %>
    <div class="card-product">
        <div class="card-image">
          <% if deck.deck_pic.attached? %>
            <% #cloudinary image, transformation, css configs %>
            <%= cl_image_tag(deck.deck_pic.key,
            :transformation=>[{:width=>100, :height=>100, :gravity=>"face", :radius=>"max", :crop=>"thumb"}],
            class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false )%>
          <% else %>
            <%= cl_image_tag("cards_ico_m3jslu",
                :transformation=>[{:width=>100, :height=>80, :gravity=>"face", :radius=>"max", :crop=>"thumb"}],
                data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false )%>
          <% end %>
        </div>
        <div class="card-product-infos">
          <div class="title-author">
            <h5><%= link_to "#{deck.title}", show_path(deck) %></h5>
            <p><%= Card.where(deck_id: deck.id).count %> cards</p>
            <p><%= User.find(deck.user_id).name %></p>
          </div>


          <div >
            <p id="price"><%= deck.price.to_i.zero? ? "Free" : "$#{deck.price}" %></p>
          </div>

          <div>
            <p>Used by <%= DeckCommunity.where(deck_id: Deck.last.id).count %><br>studycardians!</p>
          </div>

          <div>
            <% rating = 0 %>
            <% deck.deck_reviews.each do |review|  %>
              <% rating += review.rating %>
            <% end %>
            <% if deck.deck_reviews.empty?%>
            <p>no reviews yet</p>
            <% else %>
            <p><%= "â­"*(rating/deck.deck_reviews.count)%> ( <%= rating/deck.deck_reviews.count%> )</p>
            <% end %>
          </div>
        </div>
    </div>
  <% end %>
</div>
