
<div style="background-color: #F3F1F5; padding-bottom: 350px;">

  <div class="row justify-content-center">
    <div class="col-12 col-sm-4" style="flex: 0 0 50%; max-width: 50%;">
     <div class="form-show-deck">


        <h2><%= @deck.title %></h2>


        <h5>From: <%= User.find(@deck.user_id).name %></h5>
        <hr>
        <h5><%= @deck.description %></h5>

        <hr>
        <div class="deck-show-btns">

          <% if DeckCommunity.where(user_id: current_user.id, deck_id: @deck.id).empty?  %>
            <%if @deck.availability == "Public"%>
              <%= link_to "Add to my collection", addcollection_path(params[:id]), class: "btn" %>
            <% else %>
              <button id="myBtn" class="btn">Add to Cart</button>
            <% end %>
          <% else %>
            <%= link_to "View in my collection", deck_community_path(current_user), class: "btn" %>
            <% unless current_user.id == @deck.user.id  %>
              <% if DeckReview.where(user_id: current_user.id, deck_id: @deck.id).empty?%>
                <%= link_to "Add review", new_deck_review_path, class: "btn" %>
              <% else %>
                <%= link_to "Edit review", edit_deck_review_path(@review), class: "btn" %>
              <% end %>
            <% end %>
          <% end %>
          <% if current_user.id == @deck.user.id  %>
            <%= link_to "Add more cards", new_card_path(params[:id]), class: "btn" %>
          <% end %>
        </div>
        <div class="card-review">
        <p>Name</p>
        <p>Review</p>
        <p>Rating</p>

        </div>
        <hr>
        <div>
          <% @reviews.each do |review| %>
          <div class="card-review">
            <p><%= "#{review.user.name}:" %></p>
            <p><%= review.review_content %></p>
            <div class="d-flex" style="justify-content:space-between;">
              <p><%= "â­"*review.rating %></p>
              <% if review.user_id == current_user.id%>
              <%= link_to "", destroy_review_path(review.id),method: :delete, class: "far fa-trash-alt" %>
              <% end %>
            </div>
          </div>
          <div>
            <hr style="width: 50%; margin: 6px auto;">
          </div>
          <% end %>
        </div>
        <div id="myModal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <div>
              <div class="crazy">
                <div class="checkout">
                  <div class="credit-card-box">
                    <div class="flip">
                      <div class="front">
                        <div class="card-holder">
                        </div>

                      </div>
                      <div class="back">
                        <div class="strip"></div>
                      </div>
                    </div>
                  </div>

                    <fieldset>
                      <%# <label for="card-holder">Congratulations, you got a 10% discount, just click on purcharse to validate it.</label> %>
                      <div class="promocode">Congratulations, you got a 10% discount, just click on purcharse to validate it.</div>
                    </fieldset>


                  </form>
                  <%= form_tag orders_path do %>
                    <%= hidden_field_tag 'deck_id', @deck.id %>
                    <%= submit_tag 'Purchase', class: 'btn' %>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>



<script>
// Get the modal
const modal = document.getElementById("myModal");

// Get the button that opens the modal
const btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
const span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
