
<div style="background-color: #F3F1F5; padding-bottom: 350px;">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4">
     <div class="form-show-deck">
          <h2>Title: <%= @deck.title %></h2>
          <h4>Description: <%= @deck.description %></h4>
        <div>
          <% if DeckCommunity.where(user_id: current_user.id, deck_id: @deck.id).empty?  %>
            <%= link_to "Add to my collection", addcollection_path(params[:id]), class: "btn btn-info" %>
          <% else %>
            <%= link_to "View in my collection", deck_community_path(current_user), class: "btn btn-info" %>
          <% end %>
          <% if current_user.id == @deck.user.id  %>
            <%= link_to "Add more cards", new_card_path(params[:id]), class: "btn btn-info" %>
          <% end %>
          <% if DeckReview.where(user_id: current_user.id, deck_id: @deck.id).empty? %>
          <%= link_to "Add review", new_deck_review_path, class: "btn btn-info" %>
          <% else %>
          <%= link_to "Edit review", edit_deck_review_path(@review), class: "btn btn-info" %>
          <% end %>
        </div>
        <div>
          <% @reviews.each do |review| %>
          <div class="card">
          <%= "#{review.user.name}:" %>
          <%= review.review_content %>
          <%= "â­"*review.rating %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
